In [1]:
import pandas as pd
import warnings
import numpy as np
warnings.filterwarnings('ignore')

In [2]:
brady_trend_df = pd.read_csv('../data/google_search_trends.csv', skiprows = 1, index_col = 0)

In [3]:
brady_trend_df.shape

(203, 1)

In [4]:
brady_trend_df.columns

Index(['tom brady goat: (United States)'], dtype='object')

In [5]:
brady_trend_df.sample(10)

        tom brady goat: (United States)
Month
2013-10                              <1
2016-02                               2
2012-04                              <1
2011-05                              <1
2020-07                               1
2012-01                               1
2012-03                              <1
2007-02                               0
2004-06                               0
2010-01                               1

# Question
When was Tom Brady granted the title of GOAT in the public eye?

## Process
1. Rename columns to relevant information 
2. Reset values to relevant values
3. Plot the data in a line graph

In [6]:
brady_trend_df = brady_trend_df.rename(columns={'tom brady goat: (United States)': 'Interest_Over_Time'})
brady_trend_df

        Interest_Over_Time
Month
2004-01                  0
2004-02                  0
2004-03                  0
2004-04                  0
2004-05                  0
...                    ...
2020-07                  1
2020-08                  1
2020-09                  2
2020-10                  3
2020-11                  2

[203 rows x 1 columns]

In [7]:
brady_trend_df['Interest_Over_Time'] = np.where(brady_trend_df['Interest_Over_Time'] == '<1', 0, brady_trend_df['Interest_Over_Time']).astype(int)

In [8]:
brady_trend_df

         Interest_Over_Time
Month
2004-01                   0
2004-02                   0
2004-03                   0
2004-04                   0
2004-05                   0
...                     ...
2020-07                   1
2020-08                   1
2020-09                   2
2020-10                   3
2020-11                   2

[203 rows x 1 columns]

In [9]:
brady_trend_df.plot(title = 'Google Search Trend of "Tom Brady Goat"', xlabel = 'Time', ylabel = 'Relative Interest', figsize = (12, 4), color='#33238c', legend=False)

# Observations
-  'Tom Brady Goat' began to peak  around 2017 Super Bowl
- Greatest Super Bowl comeback of all time against Atlanta Falcons
- Peaked  again at his last Super Bowl appearance on the Patriots